/* ------------------------
    GLOBAL STYLES 
    ------------------------
*/

:root {
  /* action / interactive colors */
  --action-nav-btn: hsl(235, 45%, 61%);
  --action-hover-statCard: hsla(235, 58%, 18%, 0.762);

  /* surface colors */
  --surface-body: hsl(226, 43%, 10%);

  --surface-card-statCard: hsl(235, 46%, 20%);
  --surface-card-userCard: hsl(246, 80%, 60%);

  --surface-card-work: hsl(15, 100%, 70%);
  --surface-card-play: hsl(195, 74%, 62%);
  --surface-card-study: hsl(348, 100%, 68%);
  --surface-card-exercise: hsl(145, 58%, 55%);
  --surface-card-social: hsl(264, 64%, 52%);
  --surface-card-selfCare: hsl(43, 84%, 65%);

  /* text colors*/
  --text-main: white;
  --text-secondary: hsl(236, 100%, 87%);

  /* spacing */

  --p-md: 2rem;
  --p-lg: 2.5rem;

  /* typography */
  --font-main: "Rubik", sans-serif;
  --font-xs: 300;
  --font-sm: 400;
  --font-md: 500;

  --border-rad: 1.25rem;

  --step-0: clamp(1rem, 1rem + 2.05vw, 1.25rem);

  --step-1: clamp(0.8rem, 0.9rem + 2vw, 0.95rem);
  --step-2: clamp(1rem, 1rem + 2.15vw, 1.1rem);
  --step-4: clamp(2rem, 1.5rem + 3.15vw, 3rem);
  --step-5: clamp(2.5rem, 1.62rem + 3.76vw, 3.5rem);

  --spacing-medium: clamp(0.6rem, 0.65rem + 1vw, 1rem);
  --spacing-large: clamp(1rem, 0.85rem + 1.5vw, 2rem);
}

/* CSS Reset */
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--surface-body);
  color: var(--text-main);
  font-family: var(--font-main);
  display: grid;
}

/* external layout */
.l-container {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 75.625rem;
  gap: var(--spacing-large);
  margin: 0 auto;
}
.l-viewport-center {
  display: grid;
  place-items: center;
  margin: auto;
  min-height: 100%;
  height: 100dvh;
}

/* internal layout */
.stat-cards-list {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-large);
  padding-inline: 0;
}

/* Components */
.user-card {
  background-color: var(--surface-card-statCard);
  color: var(--text-secondary);
  border-radius: var(--border-rad);
  height: max-content;
}
.user-card__header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: var(--p-md);
  border-radius: var(--border-rad);
  background-color: var(--surface-card-userCard);
  gap: var(--spacing-large);
}

.user-card__nav {
  background-color: var(--surface-card-statCard);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p-md);
  border-bottom-left-radius: var(--border-rad);
  border-bottom-right-radius: var(--border-rad);
}

.user-card__avatar {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin: 0;
  border-radius: 50%;
}
.user-card__title {
  color: var(--text-main);
  font-weight: var(--font-xs);
  font-size: var(--step-4);
}
.user-card__btn {
  background-color: transparent;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  font-size: var(--step-2);
}
.user-card__btn:hover,
.user-card__btn:active,
.user-card__btn:focus {
  color: var(--text-main);
  outline: 3px solid #005fcc; /* Clear blue outline */
  outline-offset: 2px;
}

.stat-card {
  display: block;
  background-color: var(--surface-card-statCard);
  border-radius: var(--border-rad);
  /* position: relative; */
  list-style: none;
}

.stat-card__content {
  padding: var(--p-md);
  border-top-left-radius: var(--border-rad);
  border-top-right-radius: var(--border-rad);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: var(--spacing-large);
  transition: all 0.3s;
  overflow: hidden;
}
.stat-card__content:hover {
  /* color: var(--surface-card-userCard); */
  /* transform: scale(1.1); */
  background-color: var();
}

.stat-card__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stat-card__title {
  font-size: var(--step-0);
  font-weight: var(--font-md);
}
.stat-card__btn-info {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.stat-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
}
.stat-card__current {
  font-size: var(--step-5);
  font-weight: var(--font-xs);
}

.stat-card__previous {
  font-size: var(--step-1);
  color: var(--text-secondary);
}

.stat-card__outline {
  height: 25%;
}
.stat-card__outline::before {
  content: "";
  border-top-left-radius: var(--border-rad);
  border-top-right-radius: var(--border-rad);
  padding-inline: clamp(0.5rem, 2vw, 1.5rem);

  height: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}
.stat-card__outline[data-category="work"]::before {
  content: url("./images/icon-work.svg");
  background-color: var(--surface-card-work);
}
.stat-card__outline[data-category="play"]::before {
  content: url("./images/icon-play.svg");
  background-color: var(--surface-card-play);
}
.stat-card__outline[data-category="study"]::before {
  content: url("./images/icon-study.svg");
  background-color: var(--surface-card-study);
}
.stat-card__outline[data-category="exercise"]::before {
  content: url("./images/icon-exercise.svg");
  background-color: var(--surface-card-exercise);
}
.stat-card__outline[data-category="social"]::before {
  content: url("./images/icon-social.svg");
  background-color: var(--surface-card-social);
}
.stat-card__outline[data-category="self care"]::before {
  content: url("./images/icon-self-care.svg");
  background: var(--surface-card-selfCare);
}

@media screen and (min-width: 48.06rem) {
  .stat-cards-list {
    display: grid;
    grid-template-columns: repeat(3, 25ch);
    justify-content: center;
    padding-inline: 0;
    margin-block: 0;
    list-style-type: none;
  }

  .stat-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

@media screen and (min-width: 77.875rem) {
  .l-container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
  }
  .user-card {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .user-card__header {
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
    gap: 0;
  }
}
